In [1]:
import numpy as numpy
import pandas as pd

In [2]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline

Latihan:   
* https://www.kaggle.com/jessemostipak/hotel-booking-demand    
* https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists  
* https://www.kaggle.com/blastchar/telco-customer-churn

Pilih salah satu dari dataset di atas:  
* Lakukan EDA singkat sebagai basis dari skema preprocessing kalian  
* Tentukan metric evaluasi sesuai dengan tujuan bisnis kalian. 
* Pilih model terbaik dari model klasifikasi yang sudah kita pelajari (dt, knn, logreg, ensemble)
* Optimasi model yang kalian pilih (hyperparameter tunning, kalau dataset imbalance, bisa pakai balancing method)

Kirim link github kalian ke Brigita.gems@gmail.com.

# Data

In [3]:
hotel=pd.read_csv('hotel_bookings.csv')
hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [4]:
df=hotel[['hotel',
          'arrival_date_year',
          'arrival_date_week_number',
          'stays_in_weekend_nights',
          'stays_in_week_nights',
          'distribution_channel',
          'market_segment',
          'reserved_room_type',
          'customer_type',
          'adr',
          'reservation_status'  
         ]]
df.head()

,hotel,arrival_date_year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,distribution_channel,market_segment,reserved_room_type,customer_type,adr,reservation_status
0,Resort Hotel,2015,27,0,0,Direct,Direct,C,Transient,0.0,Check-Out
1,Resort Hotel,2015,27,0,0,Direct,Direct,C,Transient,0.0,Check-Out
2,Resort Hotel,2015,27,0,1,Direct,Direct,A,Transient,75.0,Check-Out
3,Resort Hotel,2015,27,0,1,Corporate,Corporate,A,Transient,75.0,Check-Out
4,Resort Hotel,2015,27,0,2,TA/TO,Online TA,A,Transient,98.0,Check-Out

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   hotel                     119390 non-null  object
 1   arrival_date_year         119390 non-null  int64
 2   arrival_date_week_number  119390 non-null  int64
 3   stays_in_weekend_nights   119390 non-null  int64
 4   stays_in_week_nights      119390 non-null  int64
 5   distribution_channel      119390 non-null  object
 6   market_segment            119390 non-null  object
 7   reserved_room_type        119390 non-null  object
 8   customer_type             119390 non-null  object
 9   adr                       119390 non-null  float64
 10  reservation_status        119390 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 10.0+ MB

In [6]:
df.isna().sum()

hotel                       0
arrival_date_year           0
arrival_date_week_number    0
stays_in_weekend_nights     0
stays_in_week_nights        0
distribution_channel        0
market_segment              0
reserved_room_type          0
customer_type               0
adr                         0
reservation_status          0
dtype: int64

In [7]:
hotel['reserved_room_type'].value_counts()

A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: reserved_room_type, dtype: int64

# Preprocessing

In [8]:
cat_feature=df.columns[df.dtypes==object]
cat_feature

Index(['hotel', 'distribution_channel', 'market_segment', 'reserved_room_type',
       'customer_type', 'reservation_status'],
      dtype='object')

In [9]:
df[cat_feature].describe()

,hotel,distribution_channel,market_segment,reserved_room_type,customer_type,reservation_status
count,119390,119390,119390,119390,119390,119390
unique,2,5,8,10,4,3
top,City Hotel,TA/TO,Online TA,A,Transient,Check-Out
freq,79330,97870,56477,85994,89613,75166

skema preprocessing:  

one hot encoding : hotel, distribution_channel, market_segment, customer_type, reservation_status   
ordinal : reserved_room_type   
  
no treatment : numerical

In [68]:
onehot=OneHotEncoder()
onehot.fit_transform(df)

<119390x9019 sparse matrix of type '<class 'numpy.float64'>'
	with 1313290 stored elements in Compressed Sparse Row format>

In [69]:
#ordinal
ordinal_mapping = [
    {'col':'reserved_room_type',
    'mapping':{None:0,'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8,'L':9,'P':10}}
    ]

In [70]:
ordinal_encoder = ce.OrdinalEncoder(mapping = ordinal_mapping)
ordinal_encoder

OrdinalEncoder(mapping=[{'col': 'reserved_room_type',
                         'mapping': {None: 0, 'A': 1, 'B': 2, 'C': 3, 'D': 4,
                                     'E': 5, 'F': 6, 'G': 7, 'H': 8, 'L': 9,
                                     'P': 10}}])

In [71]:
transformer = ColumnTransformer([
    ('one hot encoder',OneHotEncoder(drop = 'first'),['hotel','distribution_channel','market_segment','customer_type','reservation_status']),
    ('ordinal encoder',ordinal_encoder,['reserved_room_type'])
], remainder = 'passthrough')

In [72]:
transformer.fit_transform(df)

array([[  1.  ,   1.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [  1.  ,   1.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [  1.  ,   1.  ,   0.  , ...,   0.  ,   1.  ,  75.  ],
       ...,
       [  0.  ,   0.  ,   0.  , ...,   2.  ,   5.  , 157.71],
       [  0.  ,   0.  ,   0.  , ...,   2.  ,   5.  , 104.4 ],
       [  0.  ,   0.  ,   0.  , ...,   2.  ,   7.  , 151.2 ]])

In [73]:
df.head()

,hotel,arrival_date_year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,distribution_channel,market_segment,customer_type,adr,reservation_status,reserved_room_type
0,Resort Hotel,2015,27,0,0,Direct,Direct,Transient,0.0,Check-Out,3
1,Resort Hotel,2015,27,0,0,Direct,Direct,Transient,0.0,Check-Out,3
2,Resort Hotel,2015,27,0,1,Direct,Direct,Transient,75.0,Check-Out,1
3,Resort Hotel,2015,27,0,1,Corporate,Corporate,Transient,75.0,Check-Out,1
4,Resort Hotel,2015,27,0,2,TA/TO,Online TA,Transient,98.0,Check-Out,1

# Splitting Data

In [88]:
x=df.drop(columns='market_segment')
y=df['market_segment']

In [93]:
x_train, x_test, y_train, y_test=train_test_split(x,y, stratify=y, random_state=10)

# Data Transform

In [94]:
x_train.head()

,hotel,arrival_date_year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,distribution_channel,customer_type,adr,reservation_status,reserved_room_type
51490,City Hotel,2016,21,0,2,TA/TO,Transient,100.00,Canceled,1
20332,Resort Hotel,2016,4,0,3,TA/TO,Transient,54.00,Check-Out,1
105789,City Hotel,2017,7,0,1,TA/TO,Transient,108.00,Check-Out,1
61442,City Hotel,2016,50,2,3,TA/TO,Transient,73.95,Canceled,1
19542,Resort Hotel,2015,52,0,3,Direct,Transient,91.00,Check-Out,5

In [95]:
x_train_preprocessed = transformer.fit_transform(x_train)
x_test_preprocessed = transformer.transform(x_test)

ValueError: A given column is not a column of the dataframe

# Model

In [16]:
model= DecisionTreeClassifier(max_depth=3)
pipe=Pipeline([
    ('preprocess', transformer),
    ('estimator', model)
])

In [17]:
pipe.fit(x_train,y_train)
y_pred= pipe.predict(x_test)
print(classification_report(y_test,y_pred))

ValueError: A given column is not a column of the dataframe